parameters:
  level: 7
  checkMissingIterableValueType: false
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - lib

  ignoreErrors:
    - - "~^(Method|Property) .+::.+(\\(\\))? (has parameter \\$\\w+ with no|has no return|has no) typehint specified$~"
    - '#Method Buzz\\Client\\MultiCurl::sendRequest\(\) should return Psr\\Http\\Message\\ResponseInterface but returns Psr\\Http\\Message\\ResponseInterface\|null#'
    -
      message: '#Result of && is always false.#'
      path: %currentWorkingDirectory%/lib/Browser.php
    -
      message: '#Result of && is always false.#'
      path: %currentWorkingDirectory%/lib/Message/ResponseBuilder.php
    -
      message: '#Result of && is always false.#'
      path: %currentWorkingDirectory%/lib/Client/AbstractClient.php
