parameters:
	ignoreErrors:
		-
			message: "#^Method Buzz\\\\Browser\\:\\:createRequest\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:delete\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:get\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:head\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:patch\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:post\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:prepareMultipart\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:put\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:request\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:sendRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:submitForm\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Browser\\:\\:submitForm\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Browser.php

		-
			message: "#^Method Buzz\\\\Client\\\\AbstractClient\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/AbstractClient.php

		-
			message: "#^Method Buzz\\\\Client\\\\AbstractClient\\:\\:doValidateOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/AbstractClient.php

		-
			message: "#^Method Buzz\\\\Client\\\\AbstractClient\\:\\:validateOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/AbstractClient.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_close expects CurlHandle, resource given\\.$#"
			count: 1
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_error expects CurlHandle, resource given\\.$#"
			count: 3
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_reset expects CurlHandle, resource given\\.$#"
			count: 1
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_setopt expects CurlHandle, resource given\\.$#"
			count: 17
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_setopt_array expects CurlHandle, resource given\\.$#"
			count: 2
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\AbstractCurl\\:\\:\\$handles has no type specified\\.$#"
			count: 1
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\AbstractCurl\\:\\:\\$maxHandles has no type specified\\.$#"
			count: 1
			path: lib/Client/AbstractCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\BatchClientInterface\\:\\:sendAsyncRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/BatchClientInterface.php

		-
			message: "#^Method Buzz\\\\Client\\\\BuzzClientInterface\\:\\:sendRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/BuzzClientInterface.php

		-
			message: "#^Method Buzz\\\\Client\\\\Curl\\:\\:sendRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_errno expects CurlHandle, resource given\\.$#"
			count: 1
			path: lib/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_exec expects CurlHandle, resource given\\.$#"
			count: 1
			path: lib/Client/Curl.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_getinfo expects CurlHandle, resource given\\.$#"
			count: 1
			path: lib/Client/Curl.php

		-
			message: "#^Method Buzz\\\\Client\\\\FileGetContents\\:\\:filterHeaders\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/FileGetContents.php

		-
			message: "#^Method Buzz\\\\Client\\\\FileGetContents\\:\\:filterHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/FileGetContents.php

		-
			message: "#^Method Buzz\\\\Client\\\\FileGetContents\\:\\:getStreamContextArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/FileGetContents.php

		-
			message: "#^Method Buzz\\\\Client\\\\FileGetContents\\:\\:sendRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/FileGetContents.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:addPushHandle\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:addPushHandle\\(\\) has parameter \\$handle with no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:addPushHandle\\(\\) has parameter \\$headers with no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:addToQueue\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:getPushedResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:getPushedResponse\\(\\) has parameter \\$url with no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:handlePushedResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:handlePushedResponse\\(\\) has parameter \\$handle with no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:hasPushResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:hasPushResponse\\(\\) has parameter \\$url with no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:sendAsyncRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Method Buzz\\\\Client\\\\MultiCurl\\:\\:sendRequest\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Parameter \\#2 \\$handle of function curl_multi_add_handle expects CurlHandle, resource given\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$curlm has no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$pushCb is never read, only written\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$pushCb type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$pushFunctions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$pushResponseHandles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$pushedResponses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Property Buzz\\\\Client\\\\MultiCurl\\:\\:\\$queue has no type specified\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false and CurlMultiHandle will always evaluate to false\\.$#"
			count: 1
			path: lib/Client/MultiCurl.php

		-
			message: "#^Class Buzz\\\\Configuration\\\\ParameterBag implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Method Buzz\\\\Configuration\\\\ParameterBag\\:\\:__construct\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Method Buzz\\\\Configuration\\\\ParameterBag\\:\\:add\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Method Buzz\\\\Configuration\\\\ParameterBag\\:\\:all\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Method Buzz\\\\Configuration\\\\ParameterBag\\:\\:get\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Method Buzz\\\\Configuration\\\\ParameterBag\\:\\:getIterator\\(\\) return type with generic class ArrayIterator does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Method Buzz\\\\Configuration\\\\ParameterBag\\:\\:keys\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^PHPDoc tag @var for variable \\$newParameters has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Property Buzz\\\\Configuration\\\\ParameterBag\\:\\:\\$parameters has no type specified\\.$#"
			count: 1
			path: lib/Configuration/ParameterBag.php

		-
			message: "#^Property Buzz\\\\Exception\\\\CallbackException\\:\\:\\$request has no type specified\\.$#"
			count: 1
			path: lib/Exception/CallbackException.php

		-
			message: "#^Method Buzz\\\\Message\\\\FormRequestBuilder\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/FormRequestBuilder.php

		-
			message: "#^Method Buzz\\\\Message\\\\FormRequestBuilder\\:\\:__construct\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/FormRequestBuilder.php

		-
			message: "#^Method Buzz\\\\Message\\\\FormRequestBuilder\\:\\:build\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/FormRequestBuilder.php

		-
			message: "#^Property Buzz\\\\Message\\\\FormRequestBuilder\\:\\:\\$data type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/FormRequestBuilder.php

		-
			message: "#^Property Buzz\\\\Message\\\\FormRequestBuilder\\:\\:\\$files type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/FormRequestBuilder.php

		-
			message: "#^Method Buzz\\\\Message\\\\HeaderConverter\\:\\:toBuzzHeaders\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/HeaderConverter.php

		-
			message: "#^Method Buzz\\\\Message\\\\HeaderConverter\\:\\:toBuzzHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/HeaderConverter.php

		-
			message: "#^Method Buzz\\\\Message\\\\HeaderConverter\\:\\:toPsrHeaders\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/HeaderConverter.php

		-
			message: "#^Method Buzz\\\\Message\\\\HeaderConverter\\:\\:toPsrHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/HeaderConverter.php

		-
			message: "#^Method Buzz\\\\Message\\\\ResponseBuilder\\:\\:filterHeaders\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/ResponseBuilder.php

		-
			message: "#^Method Buzz\\\\Message\\\\ResponseBuilder\\:\\:filterHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/ResponseBuilder.php

		-
			message: "#^Method Buzz\\\\Message\\\\ResponseBuilder\\:\\:parseHttpHeaders\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Message/ResponseBuilder.php

		-
			message: "#^Property Buzz\\\\Message\\\\ResponseBuilder\\:\\:\\$responseFactory has no type specified\\.$#"
			count: 1
			path: lib/Message/ResponseBuilder.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\BasicAuthMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/BasicAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\BasicAuthMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/BasicAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\BasicAuthMiddleware\\:\\:\\$password has no type specified\\.$#"
			count: 1
			path: lib/Middleware/BasicAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\BasicAuthMiddleware\\:\\:\\$username has no type specified\\.$#"
			count: 1
			path: lib/Middleware/BasicAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\BearerAuthMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/BearerAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\BearerAuthMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/BearerAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\BearerAuthMiddleware\\:\\:\\$accessToken has no type specified\\.$#"
			count: 1
			path: lib/Middleware/BearerAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\CallbackMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/CallbackMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\CallbackMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/CallbackMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\CallbackMiddleware\\:\\:\\$callable has no type specified\\.$#"
			count: 1
			path: lib/Middleware/CallbackMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\ContentLengthMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/ContentLengthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\ContentLengthMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/ContentLengthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\ContentTypeMiddleware\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/ContentTypeMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\ContentTypeMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/ContentTypeMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\ContentTypeMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/ContentTypeMiddleware.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: lib/Middleware/ContentTypeMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\Cookie\\\\Cookie\\:\\:getAttributes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/Cookie/Cookie.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\Cookie\\\\Cookie\\:\\:setAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/Cookie/Cookie.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\Cookie\\\\Cookie\\:\\:\\$attributes has no type specified\\.$#"
			count: 1
			path: lib/Middleware/Cookie/Cookie.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\Cookie\\\\Cookie\\:\\:\\$createdAt has no type specified\\.$#"
			count: 1
			path: lib/Middleware/Cookie/Cookie.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\Cookie\\\\Cookie\\:\\:\\$name has no type specified\\.$#"
			count: 1
			path: lib/Middleware/Cookie/Cookie.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\Cookie\\\\Cookie\\:\\:\\$value has no type specified\\.$#"
			count: 1
			path: lib/Middleware/Cookie/Cookie.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\Cookie\\\\CookieJar\\:\\:setCookies\\(\\) has parameter \\$cookies with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/Cookie/CookieJar.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\CookieMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/CookieMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\CookieMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/CookieMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\CookieMiddleware\\:\\:setCookies\\(\\) has parameter \\$cookies with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/CookieMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\CookieMiddleware\\:\\:\\$cookieJar has no type specified\\.$#"
			count: 1
			path: lib/Middleware/CookieMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:getAlgorithm\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:getDomain\\(\\) is unused\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:getEntityBody\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:parseNameValuePairs\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:setQOP\\(\\) has parameter \\$qop with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$algorithm has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$authenticationMethod has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$clientNonce has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$domain has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$entityBody has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$method has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$nonce has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$nonceCount has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$opaque has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$options has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$password has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$realm has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$uri has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\DigestAuthMiddleware\\:\\:\\$username has no type specified\\.$#"
			count: 1
			path: lib/Middleware/DigestAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\History\\\\Entry\\:\\:\\$duration has no type specified\\.$#"
			count: 1
			path: lib/Middleware/History/Entry.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\History\\\\Entry\\:\\:\\$request has no type specified\\.$#"
			count: 1
			path: lib/Middleware/History/Entry.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\History\\\\Entry\\:\\:\\$response has no type specified\\.$#"
			count: 1
			path: lib/Middleware/History/Entry.php

		-
			message: "#^Class Buzz\\\\Middleware\\\\History\\\\Journal implements generic interface IteratorAggregate but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Middleware/History/Journal.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\History\\\\Journal\\:\\:getIterator\\(\\) return type with generic class ArrayIterator does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Middleware/History/Journal.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\History\\\\Journal\\:\\:\\$limit has no type specified\\.$#"
			count: 1
			path: lib/Middleware/History/Journal.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\HistoryMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/HistoryMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\HistoryMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/HistoryMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\HistoryMiddleware\\:\\:\\$journal has no type specified\\.$#"
			count: 1
			path: lib/Middleware/HistoryMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\HistoryMiddleware\\:\\:\\$startTime has no type specified\\.$#"
			count: 1
			path: lib/Middleware/HistoryMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\LoggerMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/LoggerMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\LoggerMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/LoggerMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\LoggerMiddleware\\:\\:\\$level has no type specified\\.$#"
			count: 1
			path: lib/Middleware/LoggerMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\LoggerMiddleware\\:\\:\\$logger has no type specified\\.$#"
			count: 1
			path: lib/Middleware/LoggerMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\LoggerMiddleware\\:\\:\\$prefix has no type specified\\.$#"
			count: 1
			path: lib/Middleware/LoggerMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\LoggerMiddleware\\:\\:\\$startTime has no type specified\\.$#"
			count: 1
			path: lib/Middleware/LoggerMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\MiddlewareInterface\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/MiddlewareInterface.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\MiddlewareInterface\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/MiddlewareInterface.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\WsseAuthMiddleware\\:\\:handleRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/WsseAuthMiddleware.php

		-
			message: "#^Method Buzz\\\\Middleware\\\\WsseAuthMiddleware\\:\\:handleResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Middleware/WsseAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\WsseAuthMiddleware\\:\\:\\$password has no type specified\\.$#"
			count: 1
			path: lib/Middleware/WsseAuthMiddleware.php

		-
			message: "#^Property Buzz\\\\Middleware\\\\WsseAuthMiddleware\\:\\:\\$username has no type specified\\.$#"
			count: 1
			path: lib/Middleware/WsseAuthMiddleware.php

