parameters:
  level: 7
  paths:
    - lib

  ignoreErrors:
    - '#Method Buzz\\Client\\MultiCurl::sendRequest\(\) should return Psr\\Http\\Message\\ResponseInterface but returns Psr\\Http\\Message\\ResponseInterface\|null#'
    -
      message: '#Result of && is always false.#'
      path: %currentWorkingDirectory%/lib/Browser.php
    -
      message: '#Result of && is always false.#'
      path: %currentWorkingDirectory%/lib/Message/ResponseBuilder.php
    -
      message: '#Result of && is always false.#'
      path: %currentWorkingDirectory%/lib/Client/AbstractClient.php
