<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Buzz Test Suite">
            <directory suffix="Test.php">./test/Buzz/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- <server name="TEST_SERVER" value="http://localhost/buzz/test/server.php" /> -->
        <!-- <server name="TEST_PROXY" value="localhost:3128" /> -->
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Buzz/</directory>
        </whitelist>
    </filter>
</phpunit>
